nav{
    background-color: #fff;
}
.float-right{
    float: right;
}
.img-logo{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    margin-left: 2em;
}
.display-flex {
    display: flex;
    padding: 0;
}
.flex-wrap-nav{
    flex-wrap: wrap;
}
.align-itens-nav{
    align-items: center;
}
.navbar-logo{
    display: flex;
}
.topnav{
    overflow: hidden; 
    display: flex;  
}
.topnav a{
    text-align: center;
    text-decoration: none;
    color: #846219;
    
}
.topnav p{
    color: #846219;
}
.topnav-right{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.topnav-right a {
    margin: 0 5em;
    letter-spacing: 0.3em;
}
.logo-text{
    display: flex;
    font-size: 2.4em;
    font-weight: bolder;
    width: 168px;
    height: 48px;
    top: 20px;
    left: 147px;
}
.logo-phrase{
    display: flex;
    align-items: flex-end;
    font-size: .9em;
    letter-spacing: 0.45em;
    width: 161px;
    height: 19px;
    top: 68px;
    left: 151px;
}